*{
    background:-webkit-linear-gradient(rgba(0, 78, 114, 0.9) 50%,
     rgba(0, 138, 201, 0.9)) 0 0 no-repeat, url(../IMG/bgheader.png) 100% 0% no-repeat;
    background-size: cover;
    
}
h1{
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
form{
    margin-left: 400px;
    color: #ffffff;
}

