<div id="p1header">

    <div class="container-fluid">

        <div class="row">

            <div class="col-3 col-sm-3 col-md-4 col-lg-5 col-xl-5 navga">

                <a href="{{ path('home')}}">ANNUAIRE DE L'AUDE</a>

            </div>

            <div class="col-9 col-sm-9 col-md-7 col-lg-6 col-xl-5 navmi">

                <a href="#">Actus</a>

                <a href="#">Contact</a>

                <a href="{{ path('connexion')}}">Se Connecter</a>

               <a href=" {{path('inscription_client')}}">S'inscrire</a>

                <a href=" {{path('inscription_pro')}}">Inscription Pro</a>

                <a href="#">
                    <i class='lni lni-search-alt'></i>
                </a>

            </div>

            <div class="col-0 col-sm-0 col-md-1 col-lg-2 col-xl-2 navdr"></div>

        </div>

    </div>

</div>

<div id="p1headerresp">
            <div id="menuToggle">
                <input type="checkbox"/>
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="#">
                        <li>Actus</li>
                    </a>
                    <a href="#">
                        <li>Contact</li>
                    </a>
                    <a href="#">
                        <li>Se connecter</li>
                    </a>
                  <!--  <a href=" path('inscription_client')}}">
                        <li>S'inscrire</li>
                    </a>
                    <a href=" path('inscription_pro')}}"> -->
                        <li>Inscription Pro</li>
                    </a>
                    <a href="#">
                        <i class='lni lni-search-alt'></i>
                    </a>
                </ul>
            </div>
            <div class="navga">ANNUAIRE DE L'AUDE</div>
</div>