{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div id="p1">
    <h1> Connectez vous </h1>
    <div class="container">
        <div class="row">

<button type="button" class="btn btn-warning">Connexion</button>
</div>
    </div></div>
{% endblock %}