{% extends 'adminBase.html.twig' %}

{% block title %}New UserPro{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisteur professionnel</h1>

    {{ include('back/user_pro/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('user_pro_index') }}">Retour à la liste</a>
{% endblock %}