{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
<div id="p2">
<form action="{{ path('security_login') }}" method="post">
  <div class="form-group">
  <input placeholder="Votre adresse email" required name="_username" type="texte" class="form-control">
  </div>

    <div class="form-group">
              <input placeholder="Votre mot de passe" required name="_password" type="password" class="form-control">
     </div>

<div class="form-group">
<button type="submit" class="btn btn-warning">Se connecter</button>

</div>
</form>
</div>
{% endblock %}