{% extends 'base.html.twig' %}

{% block title %}Artisan{% endblock %}

{% block body %}
<!--head-->
<div id="p1">
    <div class="container-fluid">
        <div class="row  d-flex justify-content-center">
            <div class="col-md-12- text-center headArt">
                <span class="nomA">SARL BRICOLO<br>
                    Mr Piedebiche Albert<br></span>
                <p>11 rue du 7 Avril<br>
                    11000 CARCASSONNE</p>
                    <div class="col-md-12 coordonnes">
                <a class="tel" href="tel:+33608000000">06 08 00 00 00</a>
                <a class="tel" href="mailto:nullepart@gmail.com">E-mail</a>
                </div>
                <div class="col-md-12">
                <a href="https://goo.gl/maps/giK6TUzTVLGVqScH6" target="_blank"><img class="reseaux" src="img/pin.png" alt="photo"></img></a>
                <a href="" target="_blank"><img class="reseaux" src="img/instagram.png" alt="photo"></img></a>
                <a href="" target="_blank"><img class="reseaux" src="img/facebook.png" alt="photo"></img></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <!--end head-->

    <!--center page and aside-->
    <div class="container-fluid centerAside">
        <div class="row">
            <section class="col-sm-9 col-md-9">
                <div class="row presentation">
                    <div class="col-md-12 sstitreArt">
                        <h2>Présentation</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="photo" src="img/boss.jpg" alt="photo"></img>
                            </div>
                            <div class="col-md-8">
                                <p>Professionally engineer 2.0 applications before leading-edge best practices.
                                    Rapidiously
                                    promote
                                    fully tested
                                    collaboration and idea-sharing via transparent e-tailers. Efficiently benchmark
                                    market-driven
                                    mindshare with
                                    adaptive resources. Monotonectally formulate excellent technology vis-a-vis
                                    client-centered
                                    platforms.
                                    Rapidiously impact state of the art networks without professional content.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Progressively benchmark low-risk high-yield technologies for excellent catalysts for
                                    change.
                                    Dynamically
                                    negotiate team driven manufactured products for error-free customer service. Quickly
                                    e-enable
                                    visionary
                                    materials without standardized schemas. Objectively reinvent covalent partnerships
                                    rather
                                    than
                                    impactful
                                    networks. Phosfluorescently administrate go forward core competencies without
                                    client-centric
                                    core
                                    competencies.</p>
                            </div>
                            <div class="col-md-4">
                                <img class="photo" src="img/group.jpg" alt="photo"></img>
                            </div>

                        </div>
                        <div>
                        </div>
                    </div>
                    <!--Service-->
                    <div class="col-md-12 sstitreArt">
                        <h2>Services proposés</h2>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                        </ul>
                    </div>
                    <div class="col-md-43">
                        <ul>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                            <li>Service</li>
                        </ul>
                    </div>

                    <!-- Tarifs-->
                    <div class="col-md-12 sstitreArt">
                        <h2>Tarifs Fixes</h2>
                    </div>
                    <div class="col-md-auto">
                        <ul>
                            <li>Prix du service</li>
                            <li>Prix du service</li>
                            <li>Prix du service</li>
                            <li>Prix du service</li>
                            <li>Prix du service</li>

                        </ul>
                    </div>

                    <div class="col-md-1">
                        <ul class="price">
                            <li>100€</li>
                            <li>100€</li>
                            <li>100€</li>
                            <li>100€</li>
                            <li>100€</li>

                        </ul>
                    </div>
                    <div class="col-md-auto">
                        <ul>
                            <li>Prix du service</li>
                            <li>Prix du service</li>
                            <li>Prix du service</li>
                            <li>Prix du service</li>
                            <li>Prix du service</li>

                        </ul>
                    </div>
                    <div class="col-md-1 align-items-end">
                        <ul class="price">
                            <li>100€</li>
                            <li>100€</li>
                            <li>100€</li>
                            <li>100€</li>
                            <li>100€</li>

                        </ul>
                    </div>
                    <div class="col-md-auto">
                        <ul>
                            <li>Prix du service</li>
                            <li>Prix du service</li>
                            <li>Prix du service</li>
                            <li>Prix du service</li>
                            <li>Prix du service</li>

                        </ul>
                    </div>
                    <div class="col-md-1">
                        <ul class="price">
                            <li>100€</li>
                            <li>100€</li>
                            <li>100€</li>
                            <li>100€</li>
                            <li>100€</li>

                        </ul>
                    </div>

            </section>
            <!--Aside-->
            <div class="col-md-3 border-left border-warning text-center aside">
                <div class="row">
                    <aside class="col-md-12">
                        <div class="col-md-12 horaire">
                            <h3 class="h3Art">Horaires</h3>
                            <p class="date">du Lundi au Vendredi :<br>
                                du 8h30 à 19H</p>
                        </div>
                        <div class="col-md-12 buttn">
                            <button class="btnArt">Rendez-vous</button>
                        </div>
                        <div class="col-md-12 buttn">
                            <button class="btnArt">Devis</button>
                        </div>
                        <div class="col-md-12 buttn">
                            <button class="btnArt">Offres d'emploi</button>
                        </div>
                        <h3 class="h3Art">Fournisseurs</h3>
                        <img class="logoArt" src="img/promocash.png" alt="photo"></img>
                        <img class="logoArt" src="img/lafarge.jpeg" alt="photo"></img>
                        <img class="logoArt" src="img/bleulibellule.png" alt="photo"></img>
                        <div class="col-md-12">
                        <h3 class="h3Art">Retrouvez-nous sur : </h3>
                <a href="https://goo.gl/maps/giK6TUzTVLGVqScH6" target="_blank"><img class="reseaux" src="img/pin.png" alt="photo"></img></a>
                <a href="" target="_blank"><img class="reseaux" src="img/instagram.png" alt="photo"></img></a>
                <a href="" target="_blank"><img class="reseaux" src="img/facebook.png" alt="photo"></img></a>
                </div>
                    </aside>
                </div>
            </div>
            <!--end aside-->
        </div>
        <!--container-fluid-->
    </div>
    <!--end center page and aside-->

    <!--bas center-->
    
        <div class="row presentationTr">
            <div class="col-md-12 sstitreArt2">
                <h2>Travaux réalisés</h2>
            </div>
            <div class="col-md-2">
                <img class="photoTF" src="img/sdb.jpg" alt="photo"></img>
            </div>
            <div class="col-md-2">
                <p>Rapidiously impact state of the art networks without professional content.</p>
            </div>
            <div class="col-md-2">
               <img class="photoTF" src="img/sdb.jpg" alt="photo"></img>
            </div>
            <div class="col-md-2">
                <p>Rapidiously impact state of the art networks without professional content.</p>
            </div>
            <div class="col-md-2">
                <img class="photoTF" src="img/sdb.jpg" alt="photo"></img>
            </div>
            <div class="col-md-2">
                <p>Rapidiously impact state of the art networks without professional content.</p>
            </div>
        </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2056.1333592848673!2d2.323194468258768!3d43.21343903081624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1586425444583!5m2!1sfr!2sfr" width="1350" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        {% endblock %}