{% extends 'base.html.twig' %}

{% block title %}Artisan{% endblock %}

{% block body %}
<div id="p1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 headArt">
                <span class="nomA">SARL BRICOLO<br>
                    Mr Piedebiche Rémi<br></span>
                <p>11 rue du 7 Avril<br>
                    11000 CARCASSONNE</p>
                <a class="tel" href="tel:+33608000000">06 08 00 00 00</a>
                <a class="tel" href="mailto:nullepart@gmail.com">E-mail</a>
            </div>
        </div>
    </div>
</div>

    <div class="container-fluid">
        <div class="row">
            <aside>
                <h3>Horaires</h3>
                <p>du Lundi au Vendredi :<br>
                    du 8h30 à 19H</p>
                <button class="btnArt">Rendez-vous</button>
                <button class="btnArt">Devis</button>
                <button class="btnArt">Offres d'emploi</button>
                <h3>Fournisseurs</h3>
            </aside>
        </div>
        <div class="row">
            <h2>Présentation</h2>
            <a href="https://via.placeholder.com"><img
                src="https://via.placeholder.com/150/000000/FFFFFF/?text=IPaddress.net"></a>
            <p>Professionally engineer 2.0 applications before leading-edge best practices. Rapidiously promote fully tested
            collaboration and idea-sharing via transparent e-tailers. Efficiently benchmark market-driven mindshare with
            adaptive resources. Monotonectally formulate excellent technology vis-a-vis client-centered platforms.
            Rapidiously impact state of the art networks without professional content.</p>
            <a href="https://via.placeholder.com"><img
                src="https://via.placeholder.com/150/000000/FFFFFF/?text=IPaddress.net"></a>
            <p>Progressively benchmark low-risk high-yield technologies for excellent catalysts for change. Dynamically
            negotiate team driven manufactured products for error-free customer service. Quickly e-enable visionary
            materials without standardized schemas. Objectively reinvent covalent partnerships rather than impactful
            networks. Phosfluorescently administrate go forward core competencies without client-centric core
            competencies.

            Dramatically formulate viral convergence with backward-compatible web-readiness. Synergistically visualize
            holistic models vis-a-vis future-proof results. Authoritatively scale flexible process improvements whereas
            global quality vectors. Progressively plagiarize next-generation process improvements and cooperative
            markets. Compellingly promote high-payoff e-commerce before high standards in niches.

            Assertively brand turnkey networks via backward-compatible core competencies. Globally streamline
            cooperative "outside the box" thinking after fully researched outsourcing. Intrinsicly plagiarize scalable
            niches via extensible materials. Distinctively evisculate world-class niches after seamless total linkage.
            Uniquely revolutionize enterprise-wide intellectual capital through impactful total linkage.</p>
            <a href="https://via.placeholder.com"><img
                src="https://via.placeholder.com/150/000000/FFFFFF/?text=IPaddress.net"></a>
            <p>Compellingly brand user friendly e-tailers after out-of-the-box ideas. Progressively engineer interoperable
            relationships vis-a-vis end-to-end technologies. Synergistically productivate client-centric strategic theme
            areas through business relationships. Holisticly incubate premier opportunities for functionalized
            manufactured products. Credibly exploit ethical benefits with 2.0 internal or "organic" sources.

            Distinctively visualize covalent content vis-a-vis open-source vortals. Continually underwhelm just in time
            leadership skills via quality resources. Enthusiastically iterate integrated.</p>
        <div>
    </div>


{% endblock %}