{% extends 'base.html.twig' %}

{% block title %}Artisan{% endblock %}

{% block body %}
<div id="p1">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 headArt">
                <span class="nomA">SARL BRICOLO<br>
                    Mr Piedebiche Rémi<br></span>
                <p>11 rue du 7 Avril<br>
                    11000 CARCASSONNE</p>
                <a class="tel" href="tel:+33608000000">06 08 00 00 00</a>
                <a class="tel" href="mailto:nullepart@gmail.com">E-mail</a>
            </div>
        </div>
        <div class="row">
            <aside>
            <h3>Horaires</h3>
            <p>du Lundi au Vendredi :<br> 
                du 8h30 à 19H</p>
            <button class="btnArt">Rendez-vous</button>
            <button class="btnArt">Devis</button>
            <button class="btnArt">Offres d'emploi</button>
            <h3>Fournisseurs</h3>
            </aside>
        </div>
    </div>

</div>


{% endblock %}