{% extends 'base.html.twig' %}

{% block title %}Artisan{% endblock %}

{% block body %}
<div id="p1">

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12 headmi">

                <span class="respmod">SARL BRICOLO<br>
                    Mr Piedebiche Rémi<br></span>
                <p>11 rue du 7 Avril<br>
                11000 CARCASSONNE</p>    
                 <a class="tel" href="tel:+33608000000">06 08 00 00 00</a>
                

            </div>

        </div>

    </div>

</div>


{% endblock %}