{% extends 'base.html.twig' %}

{% block title %}Artisan{% endblock %}

{% block body %}
<!--head-->
<div id="p1">
    <div class="container-fluid">
        <div class="row  d-flex justify-content-center">
            <div class="col-md-12- text-center headArt">
                <span class="nomA">SARL BRICOLO<br>
                    Mr Piedebiche Albert<br></span>
                <p>11 rue du 7 Avril<br>
                    11000 CARCASSONNE</p>
                <a class="tel" href="tel:+33608000000">06 08 00 00 00</a>
                <a class="tel" href="mailto:nullepart@gmail.com">E-mail</a>
            </div>
        </div>
    </div>
</div>
<div>
    <!--end head-->

    <!--center page and aside-->
    <div class="container-fluid centerAside">
        <div class="row">
            <section class="col-sm-10 col-md-10">
                <div class="row presentation">
                    <div class="col-md-12 sstitreArt">
                        <h2>Présentation</h2>
                    </div>
                    <div class="col-md-12">
                    <div class="row">
                    <div class="col-md-3">
                        <a href="https://via.placeholder.com"><img
                                src="https://via.placeholder.com/150/786E82/FFFFFF/?text=Photo"></a>
                                </div>
                    <div class="col-md-9">            
                        <p>Professionally engineer 2.0 applications before leading-edge best practices. Rapidiously
                            promote
                            fully tested
                            collaboration and idea-sharing via transparent e-tailers. Efficiently benchmark
                            market-driven
                            mindshare with
                            adaptive resources. Monotonectally formulate excellent technology vis-a-vis client-centered
                            platforms.
                            Rapidiously impact state of the art networks without professional content.</p>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-9">
                        <p>Progressively benchmark low-risk high-yield technologies for excellent catalysts for change.
                            Dynamically
                            negotiate team driven manufactured products for error-free customer service. Quickly
                            e-enable
                            visionary
                            materials without standardized schemas. Objectively reinvent covalent partnerships rather
                            than
                            impactful
                            networks. Phosfluorescently administrate go forward core competencies without client-centric
                            core
                            competencies.</p>
                            </div>
                            <div class="col-md-3">
                        <a href="https://via.placeholder.com"><img
                                src="https://via.placeholder.com/150/786E82/FFFFFF/?text=Photo"></a>
                                </div>
                                
                            </div>
                        <div>
                        </div>
                    </div>
                    <div class="row services">
                        <div class="col-md-12 sstitreArt">
                            <h2>Services proposés</h2>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li>Service</li>
                                <li>Service</li>
                                <li>Service</li>
                                <li>Service</li>
                                <li>Service</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li>Service</li>
                                <li>Service</li>
                                <li>Service</li>
                                <li>Service</li>
                                <li>Service</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li>Service</li>
                                <li>Service</li>
                                <li>Service</li>
                                <li>Service</li>
                                <li>Service</li>
                            </ul>
                        </div>
                        
                            <div class="row tarifs">
                                <div class="col-md-12 sstitreArt">
                                    <h2>Tarifs Fixes</h2>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                        <li>Prix du service</li>
                                    </ul>
                                </div>
                            <div>
            </section>
            <!--Aside-->
            <div class="col-md-2 text-center aside">
                <div class="row">
                    <aside class="col-md-12">
                        <div class="horaire"><h3>Horaires</h3>
                        <p>du Lundi au Vendredi :<br>
                            du 8h30 à 19H</p>
                        </div>
                        <div class="rdv">
                        <button class="btnArt">Rendez-vous</button>
                        </div>
                        <div class="devis">
                        <button class="btnArt">Devis</button>
                        </div>
                        <div class="emploi">
                        <button class="btnArt">Offres d'emploi</button>
                        </div>
                        <h3>Fournisseurs</h3>
                        <a href="https://via.placeholder.com"><img
                                src="https://via.placeholder.com/50x50/786E82/FFFFFF/?text=Logo"></a>
                        <a href="https://via.placeholder.com"><img
                                src="https://via.placeholder.com/50x50/786E82/FFFFFF/?text=Logo"></a>
                        <a href="https://via.placeholder.com"><img
                                src="https://via.placeholder.com/50x50/786E82/FFFFFF/?text=Logo"></a>
                    </aside>
                </div>
            </div>
            <!--end aside-->
        </div>
        <!--container-fluid-->
    </div>
    <!--end center page and aside-->

    <!--bas center-->
    <div class="container-fluid basCenter">
        <div class="row presentationTr">
            <div class="col-md-12 sstitreArt">
                <h2>Travaux réalisés</h2>
            </div>
            <div class="col-md-2">
                <a href="https://via.placeholder.com"><img
                        src="https://via.placeholder.com/150/786E82/FFFFFF/?text=Photo"></a>
            </div>
            <div class="col-md-2">
                <p>Rapidiously impact state of the art networks without professional content.</p>
            </div>
            <div class="col-md-2">
                <a href="https://via.placeholder.com"><img
                        src="https://via.placeholder.com/150/786E82/FFFFFF/?text=Photo"></a>
            </div>
            <div class="col-md-2">
                <p>Rapidiously impact state of the art networks without professional content.</p>
            </div>
            <div class="col-md-2">
                <a href="https://via.placeholder.com"><img
                        src="https://via.placeholder.com/150/786E82/FFFFFF/?text=Photo"></a>
            </div>
            <div class="col-md-2">
                <p>Rapidiously impact state of the art networks without professional content.</p>
            </div>
            <div>
            </div>
        </div>
        <!--end bas center-->

        {% endblock %}